<title>Conference Booking</title>

<h1>Conference Booking Sign-up - Your Details</h1>
<br>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Next">
    
    <label for="sur name">Name:</label>
    <input type="text" id="sur name" name="surname">

    <input type="checkbox" id="questionOne" name="subscribe" value="yes" autofocus />
</form>

<br><br>
<p>Didn't mean to come here? Click the link below to return to the main site.</p>
<a href="https://www.thegoodbook.co.uk/" title="The Good Book Company">Main Site</a>