<title>Conference Booking</title>

<h1>Conference Booking Sign-up - Your Details</h1>
<br>
{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    {% comment %} {{ form }} {% endcomment %}

    <div class='form-group'>
        {{ form.title}}
    </div>
    <br>
    <div class='form-group'>
        {{ form.first_name }}
    </div>
    <br>
    <div class='form-group'>
        {{ form.last_name }}
    </div>
    <br>
    <div class='form-group'>
        {{ form.email }}
    </div>
    <br>
    <input class="next-btn" type="submit" value="Next">
</form>

<br><br>
<p>Didn't mean to come here? Click the link below to return to the main site.</p>
<a href="https://www.thegoodbook.co.uk/" title="The Good Book Company">Main Site</a>